## Rules for writing valid variabe names
#### can conatin alphabets, digits and underscore
#### can not start with digit, can't contain space, can not be a keyword

In [1]:
a=10
a

10

In [2]:
student_name="rashmi"

In [14]:
student name="Rashmi"   #Invalid as conatain space

<class 'SyntaxError'>: invalid syntax (<ipython-input-14-dde6dabc4eef>, line 1)

In [4]:
if=20

<class 'SyntaxError'>: invalid syntax (<ipython-input-4-03da720bf8ce>, line 1)

In [5]:
1num=50

<class 'SyntaxError'>: invalid decimal literal (<ipython-input-5-ff8a059b6307>, line 1)

In [6]:
num1=50

In [7]:
_age=35

In [8]:
PI=3.14

In [11]:
Student_Name="Rashmi"

In [12]:
number=10

## Comments in Python
#### Single line comment --> use # symbol
#### Multi line comment --> enclosed in three single quoe or double quote symbols

In [21]:
#initialize two numbers c=10
num1=10
num2=20

#display two numbers
print(num1)
print(num2)
print(c)

10
20

<class 'NameError'>: name 'c' is not defined

In [17]:
""" This is a
multiline comment
in Python"""
print("Welcome to Python Programming")

Welcome to Python Programming

In [18]:
''' This is a
multiline comment
in Python'''
print("Welcome to Python Programming")

Welcome to Python Programming

## Data Types in Python
#### int, float, str and bool

In [22]:
age=35
print("age= ",age)
print("Data type of age= ",type(age))

age=  35
Data type of age=  <class 'int'>

In [23]:
rate_of_interest=10.5
print(rate_of_interest)
print(type(rate_of_interest))

10.5
<class 'float'>

In [25]:
first_name="Rashmi"
print(first_name)
print(type(first_name))

Rashmi
<class 'str'>

In [26]:
is_adult=True
print(is_adult)
print(type(is_adult))

True
<class 'bool'>

## Number system
#### Decimal, binary, octal and hexadecimal

In [29]:
dec_num=15
bin_num=0b1111
octal_num=0o17
hexa_num=0xF

In [30]:
print(dec_num)
print(bin_num)
print(octal_num)
print(hexa_num)

15
15
15
15

In [31]:
num=0b12

<class 'SyntaxError'>: invalid digit '2' in binary literal (<ipython-input-31-0d9479dbb180>, line 1)

In [32]:
num=0o12

In [33]:
num=0o59

<class 'SyntaxError'>: invalid digit '9' in octal literal (<ipython-input-33-e1d12ee9889b>, line 1)

## Console Input/Output
#### input() method/function-to take input from user

In [42]:
# take input for principal amount and calculate simple interest
#typecast input to int
principal_amount=int(input("Enter the principal amount : "))
print(principal_amount)
print(type(principal_amount))

Enter the principal amount :  20000

20000
<class 'int'>

In [43]:
#calculate simple interest
RATE_OF_INTEREST=10.5
simple_interest=principal_amount*RATE_OF_INTEREST/100 
print(simple_interest)

2100.0

In [51]:
print("principal amount: ",principal_amount)
print("Rate of interest: ",RATE_OF_INTEREST)
print("simple interest: ",simple_interest)

principal amount:  15000.0
Rate of interest:  10.5
simple interest:  2100.0

In [44]:
# take input for principal amount and calculate simple interest
#typecast input to float type
principal_amount=float(input("Enter the principal amount : "))
print(principal_amount)
print(type(principal_amount))

Enter the principal amount :  15000

15000.0
<class 'float'>

In [45]:
num="10"
n=int(num)
print(n)

10

In [46]:
num="abc"
n=int(num)
print(n)

<class 'ValueError'>: invalid literal for int() with base 10: 'abc'

#### display output-print() method

In [47]:
num1=10
num2=20

In [48]:
print(num1)
print(num2)

10
20

In [49]:
print("num1= ",num1)
print("num2= ",num2)

num1=  10
num2=  20

In [54]:
print("2025","26","11",sep='/')

2025/26/11

In [53]:
print("Its Amazing",end='!')

Its Amazing!

In [55]:
#escape sequences
# \t-->tab
# \n --> new line
# \" --> double quotes

In [56]:
print("Hello world")

Hello world

In [57]:
print("Hello")
print("world")

Hello
world

In [58]:
print("Hello\nWorld")

Hello
World

In [59]:
print("Hello\tWorld")

Hello	World

In [65]:
# display "He said: "It was a great experience""
print("He said: \"It was a great experience\"")

He said: "It was a great experience"

## str.format()method

In [68]:
num1=10
num2=20
print("num1={} num2={}".format(num1,num2))

num1=10 num2=20

In [69]:
num1=10
num2=20
print("num1={} num2={}".format(num2,num1))

num1=20 num2=10

In [70]:
PI=3.14159
print(PI)

3.14159

In [71]:
print("PI {:.2f}".format(PI))

PI 3.14

In [73]:
num=1105000
print("num {:,}".format(num))

num 1,105,000

In [81]:
name="Rashmi"
designation="Tech Lead"
organization="CloudThat"
print(" name:{:^20} \n designation:{:>20} \n organization:{:<20}".format(name,designation,organization))

 name:       Rashmi
 designation:           Tech Lead
 organization:CloudThat

In [82]:
# f-string 
print(f"Name is {name} \n Designation is {designation}")

Name is Rashmi
 Designation is Tech Lead

In [83]:
#len() method to find length of a string
print(len(name))

6

In [84]:
print(len(designation))

9

### Lab 1: Data Type Conversions
#### Objective:
##### Practice converting between strings, integers, floats, and booleans.
##### Problem Statement:
##### 1.	Ask the user to enter a number (as a string).
##### 2.	Convert it to integer and float.
##### 3.	Perform a simple arithmetic operation with both.
##### 4.	Convert a non-empty string to a boolean and print the result.

In [87]:
fname,lname,age=input("ENter fname,lname and age").split()

ENter fname,lname and age rashmi dhumal 35

In [88]:
fname

'rashmi'

In [89]:
lname

'dhumal'

In [90]:
age

'35'